<div class="admin-panel container">
  {{> buttonsAdmin}}
  <div class="main container">
    <div class="button-group">
      <a type="button" class="btn btn-success" href="/admin/addCategory">Добавить</a>
    </div>
    <div class="">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Категория</th>
                <th scope="col" style="text-align: center">Родитель</th>
                <th scope="col" style="text-align: center">Действие</th>
              </tr>
            </thead>
            <tbody>
                {{#each category}}
                  <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    {{#if parent_id}}
                      <td style="text-align: center">{{parent_id}}</td>
                    {{else}}
                      <td style="text-align: center">-</td>
                    {{/if}}
                    <td style="text-align: center">    
                        <form action="./delete/{{id}}" method="POST">
                          <input type="Submit" class="btn btn-danger" value="Удалить">
                        </form> 
                      </td>
                  </tr>
                {{/each}}
            </tbody>
          </table>
    </div>
  </div>
</div>