<div class="head-eachCat">
    <h3>Вот что мы нашли:</h3>
   <form action="/search" method="POST" class="search">
    <input type="text" class="form-control" name="search">
    <input type="submit" value="Поиск" class="btn btn-primary">
  </form>
</div>

<hr>
{{#if data}}
{{#each data}}
<div class="post shadow p-2 mb-3 bg-white rounded">
    <div class="photo">
        <img src="/photo/original/4.png" alt="">
    </div>
    <div class="description">
        <div class="description-head">
            <div class="description-head__action">{{action}}</div>
            <div class="description-head__title"><a href="/post/{{id}}">{{title}}</a></div>
        </div>
        <div class="description-body">
            <div class="description-body__text">{{description}}</div>
            <div class="description-body__region"></div>
        </div>
    </div>
    {{#intl locales="ru-BY"}}
    <div class="cost">{{cost}} р.</div>
    <div class="date">{{formatRelative date}}</div> 
    {{/intl}}
    </div>
{{/each}}
{{else}}
<p>Ничего не найдено :(</p>
{{/if}}